@using System.Collections.Generic;
@using AspNetMVC.LabExercise1.Models;

@{
    var products = ViewData["Products"] as List<Product>;
    var grandTotal = ViewData["GrandTotal"];
}

<h1 class="">Product List</h1>
<hr />
<table class="table table-hover table-striped table-dark table-bordered text-center">
    <thead>
        <tr class="font-weight-bold">
            <td scope="col">Id</td>
            <td scope="col">Name</td>
            <td  scope="col">Description</td>
            <td scope="col">Quantity</td>
            <td scope="col">Price</td>
            <td scope="col">TotalAmount</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in products)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td class="text-left">@product.Description</td>
                <td>@product.Quantity</td>
                <td class="text-right">@string.Format("{0:C}", product.Price)</td>
                <td class="text-right">@string.Format("{0:C}", product.TotalAmount)</td>
            </tr>
        }
            <tr>
                <td class="text-right font-weight-bold" colspan="5" scope="row">Grand Total: </td>
                <td class="text-right">@string.Format("{0:C}", grandTotal)</td>
            </tr>
    </tbody>
    
</table>